.columns_3 {
    column-count: 3;
    column-gap: 1.5rem;
    padding: 3rem;

}

h2 {
    color: var(--details-color);
    text-align: center;
    margin-bottom: 2rem;
}

h4 {
    display : flex;
    justify-content : center;
}

a {
    color: var(--details-color);
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: rgba(000, 000, 000, 1);
}

@media (max-width: 700px) {
    .columns_3 {
        column-count: 2;
    }
}

@media (max-width: 450px) {
    .columns_3 {
        column-count: auto;
    }
}