li {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

h2 {
    display: flex;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1;
}

.homeImage {
    display: flex;
    justify-content: center;
    margin: 1.2rem;
    grid-column: 1 / 2;
    grid-row: 2 / 6;
}

.homeInformation {
    margin: 1rem;
    grid-column: 3;
    grid-row: 2 / 3;
}

.homePageButton {
    grid-column: 6 / 7;
    grid-row: 5 / 6;
    width: 10rem;
    height: 3rem;
    color: var(--details-color);
    border: none;
    background-color: var(--third-color);
    border-radius: 2em;
    margin: 1rem;
}

.homePageButton:hover {
    box-shadow: inset 0 0 10px var(--details-color);
}

.homeDescription {
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    grid-column: 4 / 8;
    grid-row: 2 / 8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.homeDescription.clamped {
    -webkit-line-clamp: 3;
    max-height: 4.5rem;
}

.homeDescription.expanded {
    -webkit-line-clamp: unset;
    max-height: auto;
    opacity: 1;
}