li {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

h2 {
    display: flex;
    justify-content: center;
    grid-column: 1 / 8;
    grid-row: 1;
}

.homeImage {
    display: flex;
    justify-content: center;
    margin: 0 1.2rem 1.2rem 1.2rem;
    grid-column: 1 / 2;
    grid-row: 2 / 6;
}

.homeInformation {
    margin-right: 1rem;
    grid-column: 3;
    grid-row: 2 / 3;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rsem;
    margin-left: 1rem;
    grid-column: 4 / 8;
    grid-row: 2 / 8;
}

.text-block {
    white-space: pre-line;
}

.homeDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    opacity: 1;
    flex-direction: column;
    align-items: flex-start;
}

.homeDescription.clamped {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    max-height: 4.5rem;
}

.homeDescription.expanded {
    -webkit-line-clamp: unset;
    max-height: auto;
    opacity: 1;
}

.homeImage {
    width: 150px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
}

.homeImage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.homePageButton {
    width: 10rem;
    height: 3rem;
    color: var(--details-color);
    border: none;
    background-color: var(--third-color);
    border-radius: 2em;
    margin: 1rem;
}

.homePageButton:hover {
    box-shadow: inset 0 0 10px var(--details-color);
}

@media (max-width: 700px) {
    .mobile-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .descriptionContainer {
        flex-direction: column;
        align-items: center;
    }
}