li {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

h2 {
    grid-column: 1;
    grid-row: 1;
}

.homeImage {
    grid-column: 1;
    grid-row: 2;
}

h3 {
    margin: 1rem;
    grid-column: 2;
}

.homeDescription {
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.homeDescription.clamped {
    -webkit-line-clamp: 3;
    max-height: 4.5rem;
}

.homeDescription.expanded {
    -webkit-line-clamp: unset;
    max-height: auto;
    opacity: 1;
}