:host {
    display: block;
}

.headerHeader {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, var(--second-color), var(--primary-color));
    padding: 0%;
    justify-content: space-around;
    align-items: center;
}
 .headerHeader h1 {
    font-size: xx-large;
    font-weight: 900;
    color: var(--details-color);
    margin: 0%;
    padding: 0%;
}

/* If the H1 contains an <a>, make the anchor inherit the H1's font-size and color */
.headerHeader h1 a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}
.headerHeader a {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: var(--details-color);
    cursor: pointer;
    color: inherit;
    font-size: 1.5rem;
    color: var(--details-color);
    transition: color 0.4s;
    transition: color 0.4s;
}

.headerHeader img {
    padding-left: 1rem;
    padding-right: 0.5rem;
    max-width: 80px;
}

.menyHeader {
    display: flex;
    flex-direction: row;
}

.menyHeader li {
    list-style-type: none;
    font-size: 10px;
    padding-left: 1rem;
    padding-right: 1.5rem;
    text-decoration: none;
}

.menyHeader a:hover {
    color: rgba(000, 000, 000, 1);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background: var(--details-color);
    margin: 5px 0;
    opacity: 0.8;
}

@media (max-width: 780px) {
    .menyHeader {
        position: fixed;
        width: 100%;
        top: 60px;
        left: 0%;
        background-color: var(--primary-color);
        padding: 10px 0 25px;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 10px;
        transform: translateX(200%);
        transition: transform 0.3s ease-in-out;
        z-index: 9999;
    }

    .hamburger {
        display: block;
    }

    .menyHeader.open {
        transform: translate(0);
    }
}