<div class="formPage">
  <h2>Addera book till bibliotecket!</h2>
  <form action="submit">
    <label for="title">Bock titel:</label><br />
    <input type="text" id="title" name="title" /><br />
    <label for="">Förfatare:</label><br />
    <input type="text" id="title" name="title" /><br />
    <label for="">Betyg mellan 1-10:</label><br />
    <input type="number" id="title" name="title" /><br />
    <label for="">Publiserings datum:</label><br />
    <input type="date" id="title" name="title" /><br />
    <label for="">Omslagsbild:</label><br />
    <input type="file" id="title" name="title" /><br />
    <label for="">Bild på förfatare</label><br />
    <input type="file" id="title" name="title" /><br />
    <label for="">Länk till shop:</label><br />
    <input type="text" id="title" name="title" /><br />
    <label for="">Biskrivning:</label><br />
    <textarea id="title" name="title" rows="10" cols="100"></textarea><br />
    <label for="">Omdöme:</label><br />
    <textarea id="title" name="title" rows="10" cols="100"></textarea><br />
  </form>
</div>
