.footer {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style-type: none;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}