.about-container {
    display:flex;
    align-items: flex-start;
}

.image {
    padding: 2rem;
    order: 1;
}

.about-text {
    padding-top: 3rem;
    padding-left: 2rem;
    max-width: 700px;
    flex-basis: 100%;
}