<section>
<div class="bookDetailContainer" *ngIf="book() as currentBook; else loading">
  <div class="homeImage">
    <app-image-switch [image]="currentBook.image" width="300px" height="auto"></app-image-switch>
  </div>
  <div class="bookInformation">
    <h1>{{ currentBook.title }}</h1>
    <h2>Förfatare: {{ currentBook.author }}</h2>
    <h2>Omdöme:{{ currentBook.opinion }}</h2>
    <h2>Utgivar datum: {{ currentBook.published }}</h2>
    <h3>
      Köp boken
      <a href="{{ currentBook.link }}" rel="noopener" target="_blank">här</a>
    </h3>
  </div>
  <div class="bookText">
    <br>
    <h3>Om boken</h3>
    <p class="text-block">{{ currentBook.description }}</p>
    <br />
    <h3>Resension</h3>
    <p class="text-block">{{ currentBook.text }}</p>
  </div>
</div>

<!-- Skappa en separat ladninga naimation som kan implementeras på alla sidor -->
<ng-template #loading>
  <div class="loading">
    <p>Laddar...</p>
  </div>
</ng-template>
</section>