.bookDetailContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: var(--details-color);
}
.text-block {
    white-space: pre-line;
}

/*Keaps the image in the center, but the arows mover arownd*/
.homeImage {
    grid-column: 1/2;
    grid-row: 1;
    width: 250px;
    height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
}

.homeImage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.bookInformation {
    grid-column: 2 / 6;
    grid-row: 1 ;
    align-content: center;
    justify-self: center;
}
.bookText {
    grid-column: 1 /6;
}

.loading {
    text-align: center;
    font-size: 1.2em;
    color: #555;
}