<div *ngIf="book() as currentBook; else loading">
  <div class="homeImage">
    <app-image-switch [image]="currentBook.image" width="300px" height="auto"></app-image-switch>
  </div>
  <div class="bookInformation">
    <h1>{{ currentBook.title }}</h1>
    <h2>{{ currentBook.author }}</h2>
    <h2>{{ currentBook.opinion }}</h2>
    <h2>{{ currentBook.published }}</h2>
    <h3>
      Köp boken
      <a href="{{ currentBook.link }}" rel="noopener" target="_blank">här</a>
    </h3>
  </div>
  <div class="bookText">
    <p class="text-block">{{ currentBook.description }}</p>
    <br />
    <p class="text-block">{{ currentBook.text }}</p>
  </div>
</div>

<ng-template #loading>
  <p>Laddar...</p>
</ng-template>