.header {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: var(--details-color);
    cursor: pointer;
    color: inherit;
    font-size: 1.5rem;
    color: var(--details-color);
    transition: color 0.4s;
    transition: color 0.4s;
}

.header:hover {
    color: rgba(000, 000, 000, 1);
}

.footer {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    color: var(--details-color);
    transition: color 0.4s;
}

.footer:hover {
    color: rgba(000, 000, 000, 1);
}