:root {
    --primary-color: #FAF6E3;
    --second-color: #D8DBBD;
    --third-color: #B59F78;
    --details-color: #2A3663;
}

@media (max-width: 780px) {
    body {
        margin: 0%;
        padding: 0%;
    }
}