.bookImage {
    position: relative;
    display: inline-block;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.nextButton, .prevButton {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    background-color: rgb(225, 225, 225, 0.7);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.prevButton {
    left: 0.5rem;
}

.nextButton {
    right: 0.5rem;
}
